:root {
    --azulFundo: #003366;
    --azulFundoMaisClaro: #01488f;
    --corFonte: #fff;
    --fundoModal: #fff;
    --corHover: gold;
    --corTitulo: #6C3C0C;
    --marromFundo: #2a1907;
    --corPesquisa: #fff;
    --fontePostagem : #585858;
    --corBotaoSeguir : #FF6A00;
    --bordaBotaoSeguir : #c15101;
}