@import url('./cores.css');

*{
    padding: 0;
    margin: 0;
}
header {
    background: var(--corPesquisa) !important;

   
}

  a {
    color: var(--azulFundo) !important;
    text-decoration: none;
    
    font-weight: bold;
    cursor: pointer;
  }

  a:hover {
    color: var(--corHover);
    text-decoration: underline;
  }

header .container span {
    color: var(--azulFundo) !important;
  }

.sessaoDashboard {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-left:25%; */
}

.containerDashboard{
    padding-top: 07%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-; */
    /* background-color: red; */
    width: 87.5vw;
    height: 100vh;
    
}
.containerDashboard h1 {
    margin-bottom: 2%;
    text-align: center;
    color: rgb(180, 181, 166);
}
.containerKpi{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* background-color: yellow; */
    height: fit-content;
}

@media (max-width: 1000px){
    .containerKpi{
        flex-direction: column;
        justify-content: center;
    }

}

.kpiContagem {
    display: flex;
}

.containerGrafico {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.corpoDash {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.kpiDashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    border: 2px solid var(--azulFundo);
    border-radius: 15px;
    /* background-color: var(--azulFundo); */
}

.legendaKPI {
    font-weight: 550;
}
.valorKPI{
    color: var(--corBotaoSeguir);
    font-weight: 700;
    font-size: 3rem;

}

.kpiContagem {
    width: 50%;
    gap: 10%;
}
.graficoDashboard {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

#gracicoPizza{
    height: 50vh;
}

#graficoBarraSemana, #graficoBarraMes, #graficoBarraDia, #graficoSeguidorSemana, #graficoSeguidorDia {
    display: none;
}

#select_mes {
    display: none;
}

.boxKpi {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    gap: 1rem;
}

.boxKpi h2 {
    color: var(--azulFundo) !important;
}

#rankingPostMaisCurtido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

#rankingPostMaisCurtido li{
    text-decoration: none;
    list-style: none;

}
.valorRanking{
    color: var(--corBotaoSeguir);
    font-weight: 700;
}

.legendaRanking, .tituloPostagemRanking, .legendaKPI{
    color: var(--fontePostagem);
    font-weight: 600;
}

.tituloPostagemRanking{
    font-size: 1.3rem;


}

#nome_usuario{
    font-weight: 700;
}

.boxSelecaoGrafico{
    display: flex;
    gap: 1rem;
}