@import url('./cores.css');

.sessaoFeed {
    padding-top: 18vh;
    padding-bottom: 35vh;
    z-index: -2;
    
}

.sessaoFeed .container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: wrap;
    margin-left:25%;
}



