@import url('./cores.css');


header {
    background: var(--azulFundo);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: fixed;
    width: 100%;
    height: 12vh;
   
}

.logotipo{
    height: 8rem;
    width: 8rem;
    /* object-fit: cover; */
}

#fotoUsuarioLogado {
    height: 3em;
    width: 3em;
    border: 2px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    display: flex;
    width: 80vw;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  header .container span {
    color: var(--corPesquisa);
  }

  .saudacao {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header a, footer a {
    text-decoration: none;
    color: var(--corFonte);
    font-weight: bold;
    cursor: pointer;
  }

  header a:hover, footer a:hover {
    color: var(--corHover);
    text-decoration: underline;
  }

.navbar{
    display: flex;
    justify-content: space-between;
    width: 30vw;
}

.navbar li {
    list-style: none;
}

.barra-pesquisa {
    display: flex;
    width: 30vw;
    height: 5vh;
    background-color: var(--corPesquisa);
    justify-content: center;
    align-items: center;
    border: 1px solid #727272;
    border-radius: 2rem;
}

.barra-pesquisa input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 2rem;
}

.barra-pesquisa input:focus {
    outline: none;
}

.barra-pesquisa img {
    margin: 8px;
}

.sideBar{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    z-index: 3;
    left: 0;
    background-color: var(--azulFundo);
    width: fit-content;
    height: 100%;
}
.sideBar ul {
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
}

.sideBar ul li {
    text-decoration: none;
    list-style: none;
    
}
.sideBar ul li span {
    color: white;
    font-weight: 600;
    
}

.sideBar ul .topico-pagina {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    padding: 1rem;
}

.topico-pagina {
    border-bottom: 1px solid #fff;
}

.sideBar ul .topico-pagina img {
    height: 1.8rem;
}

.sideBar ul .topico-pagina span {
    font-size: 0.8rem;
    color: var(--corFonte);
}

.sideBar ul .topico-pagina  a{
    font-size: 0.8rem;
    color: var(--corFonte);
    text-decoration: none;
}

a, a:visited, a:active, a:focus {
    text-decoration: none;            
}


#containerResultadopesquisa, #containerRespostaCategoria {
    z-index: 5000;
    position: absolute;
    display: none; 
    flex-direction: column; 
    padding-top: 2vh; 
    background-color: #fff; 
    top:8.5vh; 
    width: 30vw; 
    max-height: fit-content; 
    min-height: 10vh;
    border-radius: 10px;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.300);
}
#containerRespostaCategoria {
    top:10.5vh !important; 
}
/* #containerResultadopesquisa .dadosCabecalhoPostagem img{
    height:2rem;
    border: 2px solid black;
    border-radius: 50%;
} */

#containerResultadopesquisa .cabecalhoPostagem{
    padding: 20px;
}


 .campoUsername {
    font-size: 1rem !important; 
    color: #8f8f8f !important;

}
 .campoNome {
    font-size: 1.5rem !important; 
    color: var(--azulFundo) !important;

}

#containerResultadopesquisa .cabecalhoPostagem:hover, #containerRespostaCategoria .cabecalhoPostagem:hover{
    background-color: #c6c6c6;
    cursor:pointer
}
.boxLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usernameUsuarioLogado{
    font-size: 0.7rem !important;
}


