@import url('./cores.css');
* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    width: 80vw;
    margin: auto;
}



.banner {
    background: url('../assets/imgs/fundoInicio.png');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner .slogan .container {
    height: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}

.slogan .logotipo{
    height: 17rem;
}

.slogan p {
    font-size: 2.2rem;
    color: var(--corFonte);
}

.slogan p span {
    font-weight:550;
    text-decoration: underline;
}

.social .container {
    
    flex-direction: column;
}

.social  h1 {
    margin: 3.5rem;
    text-align: center;
    color: var(--corTitulo);
}

.social .container section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social section p {
    display: flex;
    width: 30vw;
    font-size: 30px;
    
    text-align: justify;
}

.sobreMim {
    background: var(--azulFundo);
    background-repeat: no-repeat;
    background-size:contain;
    background-size:100%;
    background-position-x: center;
    
}
.sobreMim section {
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.sobreMim section p {
    width: 100%;
    color: var(--corFonte);
}

footer {
    margin-top: 5rem;
    display: flex;
    background: var(--marromFundo);
    color: var(--corFonte);
    padding-inline: 6rem;
    padding: 1.5rem;
}

footer .container {
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 2.8rem;
}


.box {
    display: flex;
    flex-direction: column;
}

.icon {
    height: 4rem;
}